<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AlumnoServlet</servlet-name>
        <servlet-class>com.falyd.controlador.AlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaServlet</servlet-name>
        <servlet-class>com.falyd.controlador.MateriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaestroServlet</servlet-name>
        <servlet-class>com.falyd.controlador.MaestroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrupoServlet</servlet-name>
        <servlet-class>com.falyd.controlador.GrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TareaServlet</servlet-name>
        <servlet-class>com.falyd.controlador.TareaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecursoServlet</servlet-name>
        <servlet-class>com.falyd.controlador.RecursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventoServlet</servlet-name>
        <servlet-class>com.falyd.controlador.EventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MensajeServlet</servlet-name>
        <servlet-class>com.falyd.controlador.MensajeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntregarTareaServlet</servlet-name>
        <servlet-class>com.falyd.controlador.EntregarTareaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlumnoServlet</servlet-name>
        <url-pattern>/AlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaServlet</servlet-name>
        <url-pattern>/MateriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaestroServlet</servlet-name>
        <url-pattern>/MaestroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrupoServlet</servlet-name>
        <url-pattern>/GrupoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TareaServlet</servlet-name>
        <url-pattern>/TareaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecursoServlet</servlet-name>
        <url-pattern>/RecursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventoServlet</servlet-name>
        <url-pattern>/EventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MensajeServlet</servlet-name>
        <url-pattern>/MensajeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntregarTareaServlet</servlet-name>
        <url-pattern>/EntregarTareaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
